.top{
  border-radius: 15px;
  background-color: #94a4b6db;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.home{
text-align: left;
background-color: #00A896;
font-size: 20px;
display: inline-block;
}
.logout{
  background-color: #00A896;
  font-size: 20px;
  text-align: right;
  display: inline-block;
}
.home1{
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;

}
.home, .home1, .logout{
display: inline-block;
text-align: center;
font-family: 'Indie Flower', cursive;
}
