


.start, .newseason, .newplayer, .signup, .newgame, .score, .serve, .receive, .set, .attack, .block, .dig{
  color: black;
  font-family: 'Poppins', sans-serif;

}
.start{
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  background-color: #02C39A;
  border-color: #94a4b69e;
}

.links{
  width: 55%;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: list-item;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  color: black;
  background-color: #00A896;
  font-family: 'Poppins', sans-serif;
}
.tolinks{
  text-decoration: none;
  border-radius: 10px;
  background-color: #00A896;
}
.starter{
  width: 50%;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: list-item;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  color: black;
  background-color: #00A896;
}
.box{
  background-color: #94a4b69e;

  margin-left: 30%;
  margin-right: 30%;
  border-radius: 10px;
  width: 40%;
  position: absolute;
  align: center;
  padding-bottom: 5%;

}
.container{
  width: 100%;
  height: 100%;
  padding-top: 20px;
}
.finish{
  color: darkblack;
  border-radius: 20px;
  font-size: 40px;
}
.selectPlayer{
  background-color: #00A896;
  font-size: 20px;
  border-radius: 10px;
}
.newplayer{
  background-color: #00A896;
  font-size: 20px;
  border-radius: 10px;
}
.input{
  padding-right: 5px;
}
.playerphoto{
  float:left;
  width: 200px;
  height:auto;
  opacity: 100%;
}
