.player{
  font-family: 'Amita', cursive;
  font-size: 30px;
}
.sbutton{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  width: 50%;
  border-radius: 10px;
  background-color: #02C39A;
}
.vs {
  color: grey;
  animation-name: fadeInOut, moveLeft300px, bounce;
animation-duration: 2.5s, 5s;
animation-iteration-count: 2, 1;
}
